<div id="$$ID$$" class="accordion-item">
    <h2 id="$$HEADER_ID$$" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#$$BODY_ID$$" aria-expanded="true" aria-controls="$$BODY_ID$$">
            $$TITLE$$
        </button>
    </h2>
    <div id="$$BODY_ID$$" class="accordion-collapse collapse" aria-labelledby="$$HEADER_ID$$" data-bs-parent="#$$ACCORDION_ID$$">
        <div class="accordion-body">
            $#BODY#$
        </div>
    </div>
</div>
