<div id="$$MODAL_ID$$" class="modal fade" tabIndex="-1" role="dialog">
    <div class="modal-dialog $$OPT_CLASSES$$">
        <div class="modal-content">
            <div class="modal-header $$HEADER_OPTCLASSES$$">
                <h5 class="modal-title" id="$$MODAL_ID_TITLE$$">$$TITLE$$</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                $#BODY#$
            </div>
            <div class="modal-footer">
                $#FOOTER#$
            </div>
        </div>
    </div>
</div>

$%$

{
    "defaultsForVariables" : {
        "MODAL_ID_TITLE" : ""
    }
}
