<div class="row mb-3">
    <div class="card">
        <h5 class="card-header">Command $$TITLE$$ for $$OWNER_NAME$$</h5>

        <div class="card-body">
            <h5 class="card-title">$$TITLE$$</h5>
            <p class="card-text">$$DESC$$</p>

            <form id="$$ID$$" class="$$OPT_CLASSES$$">
                <input type="hidden" value="$$OWNER_TYPE$$" id="OWNER_TYPE" name="OWNER_TYPE">
                <input type="hidden" value="$$OWNER_NAME$$" id="OWNER_NAME" name="OWNER_NAME">
                <input type="hidden" value="$$OWNER_SLOT$$" id="OWNER_SLOT" name="OWNER_SLOT">

                $#CONTENT#$

                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-success">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

$%$

{
    "defaultsForVariables" : {
        "ID" : "",
        "DESC" : "",
        "OWNER_TYPE" : "",
        "OWNER_NAME" : "",
        "OWNER_SLOT" : "",
        "OPT_CLASSES" : ""
    }
}

