<div class="mb-3">
    <label for="$$ID$$" class="form-label">$$LABEL$$</label>
    <div class="d-flex justify-content-center">
        <div class="badge bg-primary" id="$$ID$$_OUTPUT">$$VALUE$$</div>
    </div>
    <input type="range" class="form-range" id="$$ID$$" name="$$ID$$" min="$$MIN$$" max="$$MAX$$" step="$$STEP$$" value="$$VALUE$$">
    <div class="form-text">$$DESC$$</div>
</div>

$%$

{
    "defaultsForVariables" : {
        "MIN" : "0",
        "MAX" : "100",
        "STEP" : "1",
        "VALUE" : "0",
        "DESC" : ""
    }
}
